<span class="article-info"><%= article.genre.genre_name %></span>
<span class="article-info" style="float: right;"><%= article.created_at.strftime('%Y/%m/%d') %></span>

<%= attachment_image_tag article, :image, class: "img-fluid aticle-image-top", fallback: "no_image.png" %>

<div class="article-favorite">
  <span>
    <% if user_signed_in? %>
      <% if article.favorited_by?(current_user) %>
        <%= link_to article_favorites_path(article.id), method: :delete, remote: true do %>
          <i class="fas fa-heart" style="color: #e82a2a;"><%= article.favorites.count %></i>
        <% end %>
      <% else %>
        <%= link_to article_favorites_path(article.id), method: :post, remote: true do %>
          <i class="far fa-heart" style="color: #e82a2a;"><%= article.favorites.count %></i>
        <% end %>
      <% end %>
    <% else %>
      <i class="fas fa-heart" style="color: #e82a2a;"><%= article.favorites.count %></i>
    <% end %>
  </span>
</div>

<div class="article-title">
  <% if controller.controller_name == 'articles' && controller.action_name == 'show' %>
    <span class="article-info"><%= article.company.company_name %></span>
    <h1 class="card-title text-center"><%= article.title %></h1>
  <% else %>
    <h6 class="card-title text-center"><%= article.title.truncate(15) %></h6>
  <% end %>
</div>