<h4 class="text-center">人気記事ランキング</h4>
<% all_ranks.each.with_index(1) do |article, i| %>
  <div class="favorite-ranking">
    <h4>第<%= i %>位</h4>
    <%= link_to article_path(article.id) do %>
      <h5><%= article.title %></h5>
    <% end %>
    <span class="badge badge-info">ジャンル</span><%= article.genre.genre_name %><br>
    <span class="badge badge-info">投稿者</span><%= article.company.company_name %><br>
    <span class="badge badge-info">投稿日</span><%= article.created_at.strftime('%Y/%m/%d') %><br>
    <span>お気に入り<i class="fas fa-heart" style="color: #e82a2a;"><%= article.favorites.count %></i></span>
  </div>
<% end %>