<div class="container">
  <div class="row">
    <div class="col-md-3 col-lg-3">
      <%= render 'corporate/shared/search_follower', search: @search %>
      <h4 style="margin-top: 40px; margin-bottom: 20px;">CSV出力をする</h4>
      <h6 class="admin-comment">
        <i class="fas fa-user-cog">右記に記載のフォロワー一覧をCSV出力することができます。個人会員様からのDMを受け取った際などにご活用ください。</i>
      </h6>
      <%= link_to followers_corporate_company_path(format: :csv), style: "margin-top: 20px;" do %>
        <button class="btn btn-outline-info" style="margin-top: 20px;"><i class="fas fa-download">CSVエクスポート</i></button>
      <% end %>
    </div>

    <% if @q_followers %>
      <div class="col-md-9 col-lg-9">
        <h4>フォロワー会員</h4>
        <% if @q_followers.empty? %>
          <%# 検索該当なしの場合 %>
          <p class="alert alert-info" role="alert">条件に合致する会員が見つかりませんでした</p>
        <% else %>
          <%# 検索該当ありの場合 %>
          <p><%="全#{@q_followers.total_count}件中" + "(#{@q_followers.count}件表示)" %></p>
          <%= render 'follower_list', followers: @q_followers %>
          <div class="pagination-col offset-sm-3 col-sm-6 offset-md-4 col-md-4 offset-lg-4 col-lg-4">
            <p class="text-center" >
              <%= paginate @q_followers %>
            </p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>