<hr class="titleHr">
<% all_ranks.each.with_index(1) do |article, i| %>
  
  <div class="favorite-ranking col-lg-4">
    <% if i == 1 %>
      <i class="fas fa-bookmark" style="color: gold;"><%= i %></i>
    <% elsif i == 2 %>
      <i class="fas fa-bookmark" style="color: silver;"><%= i %></i>
    <% elsif i == 3 %>
      <i class="fas fa-bookmark" style="color: orange;"><%= i %></i>
    <% end %>

    <span class="article-info"><%= article.genre.genre_name %></span>
    <span class="article-info" style="float: right;"><%= article.created_at.strftime('%Y/%m/%d') %></span>

    <%= attachment_image_tag article, :image, class: "img-fluid aticle-image-top", fallback: "article.jpg" %>

    <span class="favorite-count"><i class="fab fa-gratipay" style="color: #9b9b9b;"><%= article.favorites.count %></i></span>

    <div class="article-title">
      <% if controller.controller_name == 'articles' && controller.action_name == 'show' %>
        <span class="article-info"><%= article.company.company_name %></span>
        <h1 class="card-title text-center"><strong><%= article.title %></strong></h1>
      <% else %>
        <h6 class="card-title text-center"><strong><%= article.title.truncate(15) %></strong></h6>
      <% end %>
    </div>

    <div class="article-text">
      <%= strip_tags(article.body.to_s).truncate(70) %><br>
      <span class="article-info"><%= article.company.company_name %></span>
      <p style="float: right;"><%= link_to "続きを読む", corporate_article_path(article.id) %></p>
    </div>
  </div>
<% end %>