<div class="container">
  <div class="row">
    <div class="offset-sm-2 col-sm-8 offset-sm-2">
      <h4>管理者ログイン</h4>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        
        <% flash.each do |name, msg| %>
          <div class="alert alert-danger" role="alert">
            <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
          </div>
        <% end %>
        
        <div class="form-group">
          <%= f.label :メールアドレス, class: "col-xs-3" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :パスワード, class: "col-xs-3" %>
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
        </div>

        <div class="actions">
          <p><%= f.submit "ログイン", class: "btn btn-info col-sm-12" %></p>
        </div>
      <% end %>

      <p><%= link_to 'ゲストログイン（管理者閲覧用）', admins_guest_sign_in_path, method: :post, class: "btn btn-warning col-sm-12" %></p>
    </div>
  </div>
</div>