<div class="row">
  <div class="offset-sm-2 col-sm-8 offset-sm-2">
    <h3>管理者ログイン</h3>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.label :メールアドレス, class: "col-xs-3" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :パスワード, class: "col-xs-3" %>
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
      </div>

      <div class="actions">
        <p><%= f.submit "ログイン", class: "btn btn-info col-sm-12" %></p>
      </div>
    <% end %>
  </div>
</div>