<div class="row">
  <h3 class="col-xs-12">記事情報編集</h3>
</div>

<div class="row">
  <%= form_for(@article, url: admin_article_path) do |f| %>
    <div class="col-xs-12">     
      <div class="form-group">
        <%= f.label :記事トップ画像 %>
        <%= f.attachment_field :image %>
      </div>
      
      <div class="form-group">
        <%= f.label :ジャンル %><br>
        <%= f.collection_select :genre_id, Genre.all, :id, :genre_name, include_blank: "--選択してください--" %>
      </div>

      <div class="form-group">
        <%= f.label :掲載ステータス %><br>
        <%= f.select :is_active, [["掲載中", true], ["掲載停止中", false]], include_blank: "--選択してください--" %>
      </div>

      <div class="form-group">
        <%= f.label :記事タイトル %>
        <%= f.text_field :title, autofocus: true, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :記事内容 %>
        <%= f.text_area :body, autofocus: true, class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit '変更を保存する',　class: "data-disable-with", class: "btn btn-success col-xs-6" %>
        <%= link_to '記事情報詳細へ戻る', admin_article_path(@article.id), class:"btn btn-default col-xs-6" %>
      </div>
    </div>
  <% end %>
</div>