<div class="left-button">
  <%= link_to "企業詳細に戻る", company_path(@room.company_id), class:"btn btn-default" %>
</div>
<div class="company-name">
  <h3 class="text-center"><%= @room.company.company_name %></h3>
</div>
<hr>
<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-sm-offset-1">
    <% @messages.each do |m| %>
      <% if m.attribute_present?(:user_id) %>
        <div class="col-sm-12 text-right">
          <div class="chat-face">
            <%= attachment_image_tag m.user, :profile_image, size: '50x50', fallback: "no_image.png" %>
          </div>
          <div class="chat-hukidashi"> <strong><%= m.message %></strong> <br>
            <%= m.created_at.strftime("%Y-%m-%d %H:%M")%>
          </div>
        </div>
      <% elsif m.attribute_present?(:company_id) %>
        <div class="col-sm-12 text-left">
          <div class="chat-face">
            <%= attachment_image_tag m.company, :profile_image, size: '50x50', fallback: "no_image.png" %>
          </div>
          <div class="chat-hukidashi"> <strong><%= m.message %></strong> <br>
            <%= m.created_at.strftime("%Y-%m-%d %H:%M")%>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="col-sm-offset-2 col-sm-8 col-sm-offset-2">
    <%= form_for @message do |f| %>
      <%= f.text_area :message, placeholder: "メッセージを入力して下さい" , size: "100x10", class:"form-text-field" %>
      <%= f.hidden_field :room_id, value: @room.id %>
      <p class="text-right"><%= f.submit "送信", class: 'btn btn-primary' %></p>
    <% end %>
  </div>
</div>