<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center" style="margin-bottom: 40px;"><strong><%= @room.company.company_name %></strong></h3>
      <%= link_to company_path(@room.company_id) do %>
        <i class="fas fa-angle-left"> 企業詳細</i>
      <% end %>
      <%= link_to rooms_path do %>
        <i class="fas fa-envelope">DM一覧</i>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <hr class="titleHr">
  <div class="row">
    <div class="offset-lg-1 col-lg-10 offset-lg-1">
      <% @messages.each do |m| %>
        
        <%# userのメッセージ %>
        <% if m.attribute_present?(:user_id) %>
          <div class="user-dm">
            <% if Rails.env.production? %>
              <%# 本番環境での表示 %>
              <% if !m.user.profile_image_id.blank? %>
                <%= image_tag "https://hareyaka-image-resize-bucket.s3-ap-northeast-1.amazonaws.com/store/" + m.user.profile_image_id + "-thumbnail.", class: "img-fluid self-face" %>
              <% else %>
                <%= image_tag "no_image.png", class: "img-fluid self-face" %>
              <% end %>
            <% else %>
              <%# 開発環境での表示 %>
              <%= attachment_image_tag m.user, :profile_image, class: "img-fluid self-face", fallback: "no_image.png" %>
            <% end %>
            <div class="self-hukidashi card offset-md-4 col-md-6 offset-sm-2 col-sm-6">
              <div class="card-body message">
                <p>
                  <strong><%= m.message %></strong><br>
                  <span style="float: right;"><%= m.created_at.strftime("%Y-%m-%d %H:%M") %></span>
                </p>
              </div>
            </div>
          </div>

        <%# companyのメッセージ %>
        <% elsif m.attribute_present?(:company_id) %>
          <div class="company-dm">
            <% if Rails.env.production? %>
              <%# 本番環境での表示 %>
              <% if !m.company.profile_image_id.blank? %>
                <%= image_tag "https://hareyaka-image-resize-bucket.s3-ap-northeast-1.amazonaws.com/store/" + m.company.profile_image_id + "-thumbnail.", class: "img-fluid opponent-face" %>
              <% else %>
                <%= image_tag "no_image.png", class: "img-fluid opponent-face" %>
              <% end %>
            <% else %>
              <%# 開発環境での表示 %>
              <%= attachment_image_tag m.company, :profile_image, class: "img-fluid opponent-face", fallback: "no_image.png" %>
            <% end %>
            <div class="opponent-hukidashi card col-md-6 col-sm-6">
              <div class="card-body message">
                <p>
                  <strong><%= m.message %></strong><br>
                  <%= m.created_at.strftime("%Y-%m-%d %H:%M") %>
                </p>
              </div>
            </div>
          </div>
        <% end %>

      <% end %>
    </div>
    <%# 送信フォームの表示 %>
    <div class="offset-md-1 col-md-10 offset-md-1">
      <%= form_for @message do |f| %>
        <div class="form-group">
          <%= f.text_area :message, autofocus: true, autocomplete: "message", placeholder: "メッセージを入力して下さい", class: "form-control", style: "height: 100px;" %>
        </div>
        <%= f.hidden_field :room_id, value: @room.id %>
        <p class="text-right"><%= f.submit "送信", class: "btn btn-info" %></p>
      <% end %>
    </div>
  </div>
</div>

