<%= attachment_image_tag @company, :background_image, class: "company-header", fallback: "business.jpg" %>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="text-center"><strong><%= @company.company_name %></strong></h1>
      <hr class="titleHr">
      <p class="text-right">
        <%= link_to '編集する', edit_admin_company_path(@company), class:"btn btn-info" %>
        <%= link_to '企業一覧へ戻る', admin_companies_path, class:"btn btn-outline-info" %>
      </p>
      <p class="text-right">
        <span class="badge badge-primary">法人会員掲載ページ</span>企業ID <%= @company.id %> 会員ステータス【<%= @company.is_active == true ? "有効" : "退会済み" %>】
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="recommend">
        <h5>この企業のおすすめ記事</h5>
        <strong class="admin-comment">お気に入り数が多いものを1つ抜粋して掲載します。</strong>
        <%= render 'admin/shared/ranking', all_ranks: @company_ranks %>
      </div>
    </div>

    <div class="col-sm-12 col-md-6">
      <h5>企業情報</h5>
      <hr class="titleHr">
      <table class='table table-borderless table-sm'>
        <tr>
          <th>郵便番号</th>
          <td><%= @company.postal_code %></td>
        </tr>
        <tr>
          <th>住所</th>
          <td><%= @company.address %></td>
        </tr>
        <tr>
          <th>電話番号</th>
          <td><%= @company.phone_number %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= @company.email %></td>
        </tr>
      </table>

      <h5>企業紹介文</h5>
      <strong class="admin-comment">自社についての紹介文を記載します（事業内容や取り扱い商品、自社の特徴など）。その他、個人会員様へのメッセージを是非ご記載ください。</strong>
      <hr class="titleHr">
      <p><%= @company.introduction %></p>
      <hr class="titleHr">
    </div>
  </div>
</div>