<!DOCTYPE html>
<html>
  <head>
    <title>Hareyaka</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if admin_signed_in? %>
      <header class="admin_header">
        <div class="header-content">
          <%= link_to 'Hareyaka', root_path, class: "logo" %>
          <ul class="flex">
            <p>管理者ログイン中です</p>
            <li><%= link_to '記事一覧', admin_articles_path %></li>
            
            
            <li><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %></li>
          </ul>
        </div>
      </header>
    <% end %>
    <div class="body">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>