<%# サービス内容 %>
<div id="box1">
  <div class="container">
    <div class="row top-summary">
      <div class="col-sm-6 col-md-6 col-lg-5">
        <%= image_tag 'iphone.png', class: "iphone" %>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-7">
        <div class="top-message">
          <h1><strong>その悩み、プロに聞いてみよう。</strong></h1>
          <div class="background"></div>
          <h4><strong>Hareyaka は様々な悩みを持つ人と</strong></h4>
          <h4><strong>それを解決するプロをつなげるサービスです。</strong></h4>
          <p><%= link_to "今すぐ新規登録", new_user_registration_path, class: "btn btn-lg top-registration-btn" %></p>
          <p style="font-size: small;">ポートフォリオ用にゲストログイン機能を実装しております。<%= link_to "こちら", new_user_session_path %>からお進みください。</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="box2">
  <%# Hareyakaの仕組み%>
  <h1 class="text-center"><strong class="under">Hareyaka の仕組み</strong></h1>
  <div class="container">
    <div class="row">
      <div class="offset-lg-2 col-lg-8">
        <%= image_tag 'business-model.png', class: "about-hareyaka" %>
      </div>
    </div>
  </div>
  <%# Hareyakaでできること%>
  <h1 class="text-center" style="margin-bottom: 100px;"><strong class="under">Hareyaka ではこんなことができます</strong></h1>
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <h4><i class="fas fa-check" style="color: #128da0;"></i><strong> 記事の閲覧・お気に入り</strong></h4>
        <%= image_tag 'article-image.png', class: "about-hareyaka card" %>
      </div>
      <div class="col-lg-4">
        <h4><i class="fas fa-check" style="color: #128da0;"></i><strong> 企業のフォロー</strong></h4>
        <%= image_tag 'follow-image.png', class: "about-hareyaka card" %>
      </div>
      <div class="col-lg-4">
        <h4><i class="fas fa-check" style="color: #128da0;"></i><strong> DM（メッセージ）</strong></h4>
        <%= image_tag 'dm-image.png', class: "about-hareyaka card" %>
      </div>
    </div>
    <p class="text-center"><%= link_to "試しに記事を見てみる", articles_path, class: "btn btn-info btn-lg" %></p>
  </div>
</div>

<%# Hareyakaにいる専門家 %>
<h1 class="text-center" style="margin: 150px 0 100px 0;"><strong class="under">Hareyaka にはこんな専門家がいます</strong></h1>
<div class="container" style="margin-bottom: 100px;">
  <div class="row">
    <div class="col-lg-3">
      <h4><i class="fas fa-user-tie" style="color: #128da0;"></i><strong> お金のプロ</strong></h4>
      <%= image_tag 'company-image1.png', class: "about-hareyaka card" %>
    </div>
    <div class="col-lg-3">
      <h4><i class="fas fa-user-tie" style="color: #128da0;"></i><strong> 美容のプロ</strong></h4>
      <%= image_tag 'company-image2.png', class: "about-hareyaka card" %>
    </div>
    <div class="col-lg-3">
      <h4><i class="fas fa-user-tie" style="color: #128da0;"></i><strong> 料理のプロ</strong></h4>
      <%= image_tag 'company-image3.png', class: "about-hareyaka card" %>
    </div>
    <div class="col-lg-3">
      <h4><i class="fas fa-user-tie" style="color: #128da0;"></i><strong> ファッションのプロ</strong></h4>
      <%= image_tag 'company-image4.png', class: "about-hareyaka card" %>
    </div>
  </div>
  <p class="text-center"><%= link_to "Hareyaka にいる他の企業を見てみる", companies_path, class: "btn btn-info btn-lg" %></p>
</div>

<%# <% Hareyaka はあなたの悩みを企業と共に解決していきます %>
<div class="container top-registraion">
  <div class="row">
    <div class="col-lg-12">
      <h3 class="text-center" style="margin-top: 40px;"><strong>Hareyaka はあなたの悩みを企業と共に解決していきます</strong></h3>
      <h3 class="text-center"><strong>まずは会員登録から始めましょう</strong></h3>
      <p class="text-center"><%= link_to "今すぐ新規登録", new_user_registration_path, class: "btn btn-lg top-registration-btn" %></p>
    </div>
  </div>
</div>