<div class="container">
  <div class="top">
    <h1 class="text center">もっとあなたらしく。</h1>
    <h3>Hareyakaは様々な悩みを持つ人とそれを解決するプロをつなげるサービスです</h3>
    <%= link_to 'Hareyakaについて', vision_path %>
    <%= link_to '記事一覧', articles_path %>
    <%= link_to '新規登録', new_user_registration_path %>
    <%= link_to 'ログイン', new_user_session_path %>
    <%= link_to '(法人)新規登録', new_company_registration_path %>
    <%= link_to '(法人)ログイン', new_company_session_path %>
  </div>
</div>