<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h4 class="text-center">DM一覧</h4>
    </div>
  </div>
</div>

<div class="container">
  <hr class="titleHr">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <table class='table table-borderless'>
        <tbody>
          <% @rooms.each do |room| %>
            <tr>
              <td style="margin-right: 100px;">
                <% if Rails.env.production? %>
                  <%# 本番環境での表示 %>
                  <% if !room.user.profile_image_id.blank? %>
                    <%= image_tag "https://hareyaka-image-resize-bucket.s3-ap-northeast-1.amazonaws.com/store/" + room.user.profile_image_id + "-thumbnail.", class: "img-fluid notification-face" %>
                  <% else %>
                    <%= image_tag "no_image.png", class: "img-fluid notification-face" %>
                  <% end %>
                <% else %>
                  <%# 開発環境での表示 %>
                  <%= attachment_image_tag room.user, :profile_image, class: "img-fluid notification-face", fallback: "no_image.png" %>
                <% end %>
              </td>
              <td><strong><%= room.user.full_name %></strong></td>
              <td>
                <p><%= strip_tags(most_new_message(room)).truncate(45) %></p>
              </td>
              <td>
                <%= link_to corporate_room_path(room.id) do %>
                  <span class="badge badge-info"><i class="fas fa-envelope"></i>メッセージを見る</span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>