<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <%= link_to "会員登録情報", user_path(current_user), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "お気に入り(全#{current_user.favorites.count}件)", favorites_path, class: "nav-link active" %>
        </li>
        <li class="nav-item">
          <%= link_to "フォロー企業(全#{current_user.followings.count}件)", follows_user_path(current_user), class: "nav-link" %>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-3" style="margin-bottom: 20px;">
      <p class="text-center">
        <button 
          type="button"
          class="btn btn-outline-info"
          style="margin-top: 25px;"
          data-toggle="popover"
          title="新しい発見があるかも"
          data-content="最も割合が多いジャンルはあなたがそれまで思っていた悩みや興味のジャンルに合致しますか？このグラフは自分では気づかなかった新しい自己の発見に役立ちます。是非活用してみましょう！"
          data-placement="top">
          あなたがお気に入りした記事のジャンル割合
        </button>
      </p>
      
      <script>
        $(function () {
            $('[data-toggle="popover"]').popover();
          }
        );
      </script>
      <%# 円グラフ表示 %>
      <%= pie_chart @genredata %>
    </div>

    <div class="col-lg-9">
      <%= render 'article_list', articles: @favorite_articles %>
      <div class="pagenation offset-sm-3 col-sm-6 offset-md-4 col-md-4 offset-lg-4 col-lg-4">
        <div class="text-center">
          <%= paginate @favorite_articles %>
        </div>
      </div>
    </div>
  </div>
</div>