<div class="row">
  <div class="col-xs-4">
    <h4>ジャンル一覧</h4>
    <h4>人気記事ランキング</h4>
    <h4>詳細検索</h4>
  </div>

  <div class="col-xs-8">
    <div class="title">
      <h4 class="text-center">記事一覧</h4>
    </div>
    <hr class="titleHr">

    <% @articles.each do |article| %>
      <div id="article_contents_<%= article.id %>">
        <%= render 'public/shared/detail', article: article %>
      </div>
      <div class="row article-body">
        <div class="col-xs-12">
          <%= truncate(article.body, length: 200) do %>
            <p class="text-right"><%= link_to "続きを読む", article_path(article.id) %></p>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="row text-center">
      <%= paginate @articles %>
    </div>
  </div>
</div>