<div class="row">
  <div class="col-sm-4">
    <%= render 'public/shared/sidebar' %>
  </div>

  <div class="col-sm-8">
    <div class="title">
      <h4 class="text-center">記事一覧変更</h4>
    </div>
    <hr class="titleHr">

    <% if @q_articles %>
      <% if @q_articles.empty? %>
        <%# 検索該当なしの場合 %>
        <p class="alert alert-info" role="alert">条件に合致する記事が見つかりませんでした。</p>
      <% else %>
        <%# 検索該当ありの場合 %>
        <p class="alert alert-success" role="alert"><%="入力内容で検索した結果 #{@q_articles.total_count} 件の記事がヒットしました。" %></p>
        <%= render 'article_list', articles: @q_articles %>
        <p class="text-center">
          <%= paginate @q_articles, class: "paginate" %>
        </p>
      <% end %>
    <% elsif @articles %>   
      <% if @articles.count > 0 %>
        <%# 記事一覧 %>
        <%= render 'article_list', articles: @articles %>
        <p class="text-center">
          <%= paginate @articles, class: "paginate" %>
        </p>
      <% else %>
        <p class="alert alert-info" role="alert">現在掲載している記事はありません。</p>
      <% end %>    
    <% end %>
  </div>
</div>