<% companies.each do |company| %>
  <table class='table table-borderless table-sm'>
    <tbody>
      <tr>
        <td style="width: 135px;">
          <% if Rails.env.production? %>
            <%# 本番環境での表示 %>
            <% if company.profile_image_id? %>
              <%= image_tag "https://hareyaka-image-resize-bucket.s3-ap-northeast-1.amazonaws.com/store/" + company.profile_image_id + "-thumbnail.", class: "img-fluid company-image" %>
            <% else %>
              <%= image_tag "no_image.png", class: "img-fluid company-image" %>
            <% end %>
          <% else %>
            <%# 開発環境での表示 %>
            <%= attachment_image_tag company, :profile_image, class: "img-fluid company-image", fallback: "no_image.png" %>
          <% end %>
        </td>
        <td>
          <h6><%= link_to company.company_name, company_path(company.id) %></h6>
          <p style="font-size: small;"><%= truncate(company.introduction, length: 100) %></p>
          <div id="follow_button_<%= company.id %>">
            <%= render 'public/shared/follow_button', company: company %>
          </div>
        </td>
      </tr>
    </body>
  </table>
  <hr class="companyHr">
<% end %>