<% companies.each do |company| %>
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-3">
      <%= attachment_image_tag company, :profile_image, class: "img-fluid company-image", fallback: "no_image.png" %>
    </div>
    <div class="col-sm-12 col-md-9" style="font-size: small;">
      <h6><%= link_to company.company_name, company_path(company.id) %></h6>
      <p><%= truncate(company.introduction, length: 100) %></p>
      <div id="follow_button_<%= company.id %>">
        <%= render 'public/shared/follow_button', company: company %>
      </div>
    </div>
  </div>
</div>
  <hr class="companyHr">
<% end %>