<%= attachment_image_tag @company, :background_image, class: "company-header", fallback: "business.jpg" %>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="text-center"><strong><%= @company.company_name %></strong></h1>

      <%# フォローボタン、チャットボタン表示 %>
      <% if @isRoom == true %>
        <p class="text-right">
          <span id="follow_button_<%= @company.id %>">
            <%= render 'public/shared/follow_button', company: @company %>
          </span>
          <a href="/rooms/<%= @roomId %>" class="btn enter-dm">DMへ進む</a>
        </p>
      <% else %>
        <%= form_for @room do |f| %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.hidden_field :company_id, value: @company.id %>
          <p class="text-right">
            <span id="follow_button_<%= @company.id %>">
              <%= render 'public/shared/follow_button', company: @company %>
            </span>
            <%= f.submit "DMを始める", class: "btn enter-dm" %>
          </p>
        <% end %>
      <% end %>
      <hr class="titleHr">
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="recommend">
        <h5>この企業のおすすめ記事</h5>
        <%= render 'public/shared/ranking', all_ranks: @company_ranks %>
      </div>
    </div>

    <div class="col-sm-12 col-md-6">
      <h5>企業情報</h5>
      <hr class="titleHr">
      <table class='table table-borderless table-sm'>
        <tr>
          <th>郵便番号</th>
          <td><%= @company.postal_code %></td>
        </tr>
        <tr>
          <th>住所</th>
          <td><%= @company.address %></td>
        </tr>
        <tr>
          <th>電話番号</th>
          <td><%= @company.phone_number %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= @company.email %></td>
        </tr>
      </table>

      <h5>企業紹介文</h5>
      <hr class="titleHr">
      <p><%= @company.introduction %></p>
      <hr class="titleHr">
    </div>
  </div>
</div>