<div class="row">
  <div class="col-xs-12">
    <%= attachment_image_tag @company, :background_image, size: '1135x200', fallback: "no_image.png" %>
    <h3 class="text-center"><%= @company.company_name %></h3>
    <hr class="titleHr">
  </div>
</div>

<div class="row">
  <div class="col-xs-6">
    <h4>企業情報</h4>
    <table class='table'>
      <tr>
        <th>郵便番号</th>
        <td><%= @company.postal_code %></td>
      </tr>
      <tr>
        <th>住所</th>
        <td><%= @company.address %></td>
      </tr>
      <tr>
        <th>電話番号</th>
        <td><%= @company.phone_number %></td>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <td><%= @company.email %></td>
      </tr>
    </table>
    <div class="recommend">
      <h4>この企業のおすすめ記事</h4>
    </div>
  </div>

  <div class="col-xs-6">
    <h4>企業紹介</h4>
    <hr class="titleHr">
    <p><%= @company.introduction %></p>
    <hr class="titleHr">
    <span id="follow_button_<%= @company.id %>">
      <%= render 'public/shared/follow_button', company: @company %>
    </span>
    <p><%= link_to "メールでお問い合わせ", contact_path(@company.id) %></p>
  </div>
</div>
