<div class="col-xs-offset-3 col-xs-6 col-xs-offset-3">
  <h3>パスワード変更</h3>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "public/shared/error_messages", resource: resource %>

    <div class="form-group">
      <%= f.label :メールアドレス %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="form-group">
      <%= f.label :現在のパスワード %>
      <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :新しいパスワード %>
      <% if @minimum_password_length %>
        <em>* <%= @minimum_password_length %>文字以上</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label "新しいパスワード(確認用)" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
    </div>

    <div class="actions">
      <%= f.submit "編集内容を保存する",　class:"data-disable-with", class:"btn btn-success col-xs-6" %>
      <%= link_to "マイページに戻る", user_path(resource), class:"btn btn-default col-xs-6" %>
    </div>
  <% end %>
</div>