<div class="container">
  <div class="row">
    <div class="offset-sm-2 col-sm-8 offset-sm-2">
      <h4>個人会員新規登録</h4>
      <h6 style="color: grey;">※法人会員の方はヘッダーの（法人）新規登録申請からお進みください</h6>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "public/shared/error_messages", resource: resource %>

          <div class="form-group row">
            <div class="col-sm-6">
              <span class="badge badge-danger">必須</span><%= f.label :名前 %>
              <%= f.label :"(姓)"%><%= f.text_field :last_name, autofocus: true, class: "form-control" %>
            </div>
            <div class="col-sm-6">
              <span class="badge badge-danger">必須</span><%= f.label :"(名)" %><%= f.text_field :first_name, autofocus: true, class: "form-control" %>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-6">
              <span class="badge badge-danger">必須</span><%= f.label :フリガナ %>
              <%= f.label :"(セイ)"%><%= f.text_field :kana_last_name, autofocus: true, class: "form-control" %>
            </div>
            <div class="col-sm-6">
              <span class="badge badge-danger">必須</span><%= f.label :"(メイ)" %><%= f.text_field :kana_first_name, autofocus: true, class: "form-control" %>
            </div>
          </div>

          <div class="form-group">
            <span class="badge badge-danger">必須</span><%= f.label :メールアドレス  %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
          </div>

          <div class="form-group">
            <span class="badge badge-danger">必須</span><%= f.label :郵便番号（ハイフンなし） %>
            <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code", class: "form-control" %>
          </div>

          <div class="form-group">
            <span class="badge badge-danger">必須</span><%= f.label :住所 %>
            <%= f.text_field :address, autofocus: true, autocomplete: "address", class: "form-control", collection: JpPrefecture::Prefecture.all, :value_method => :name %>
          </div>

          <div class="form-group">
            <span class="badge badge-danger">必須</span><%= f.label :電話番号（ハイフンなし）%>
            <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number", class: "form-control" %>
          </div>

          <div class="form-group">
            <span class="badge badge-danger">必須</span><%= f.label :パスワード %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> 文字以上)</em>
            <% end %>
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
          </div>

          <div class="form-group">
            <span class="badge badge-danger">必須</span><%= f.label :パスワード（確認用）%>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
          </div>

          <div class="actions">
            <P><%= f.submit "新規登録", class: "btn btn-info col-sm-12" %></P>
          </div>

          <h5>既に登録済みの方</h5>
          <p><%= render "public/shared/links" %>からログインしてください</p>
        
      <% end %>
    </div>
  </div>
</div>