<h2>新規法人登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "corporate/shared/error_messages", resource: resource %>

  <div class="col-sm-6">

    <div class="form-group">
      <%= f.label :企業名  %>
      <%= f.text_field :company_name, autofocus: true, autocomplete: "company_name", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :フリガナ  %>
      <%= f.text_field :kana_company_name, autofocus: true, autocomplete: "kana_company_name", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :メールアドレス  %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :郵便番号（ハイフンなし） %>
      <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :住所 %>
      <%= f.text_field :address, autofocus: true, autocomplete: "address", class: "form-control", collection: JpPrefecture::Prefecture.all, :value_method => :name %>
    </div>

    <div class="form-group">
      <%= f.label :電話番号（ハイフンなし）%>
      <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :パスワード %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> 文字以上)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :パスワード（確認用）%>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
    </div>

    <div class="actions">
      <%= f.submit "新規登録" %>
    </div>

    <h5>既に登録済みの法人様</h5>
    <p><%= render "corporate/shared/links" %>からログインしてください。</p>

  </div>
<% end %>