<div class="container">
  <div class="row">
    <div class="offset-sm-2 col-sm-8 offset-sm-2">
      <h4>法人会員新規登録（申請）</h4>
      <h6 style="color: red;">※法人会員の方は運営による承認が必要です。申請が承認がされ次第、本登録となりますのでまずは以下のフォームを入力し登録申請をお願い致します。</h6>
      <h6 style="color: grey;">※個人会員の方はヘッダーの新規登録からお進みください</h6>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "corporate/shared/error_messages", resource: resource %>

          <div class="form-group">
            <span class="badge badge-danger">必須</span><%= f.label :company_name %>
            <%= f.text_field :company_name, autofocus: true, autocomplete: "company_name", class: "form-control" %>
          </div>

          <div class="form-group">
            <span class="badge badge-danger">必須</span><%= f.label :kana_company_name  %>
            <%= f.text_field :kana_company_name, autofocus: true, autocomplete: "kana_company_name", class: "form-control" %>
          </div>

          <div class="form-group">
            <span class="badge badge-danger">必須</span><%= f.label :email  %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
          </div>

          <div class="form-group">
            <span class="badge badge-danger">必須</span><%= f.label :postal_code %>
            <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code", class: "form-control" %>
          </div>

          <div class="form-group">
            <span class="badge badge-danger">必須</span><%= f.label :address %>
            <%= f.text_field :address, autofocus: true, autocomplete: "address", class: "form-control", collection: JpPrefecture::Prefecture.all, :value_method => :name %>
          </div>

          <div class="form-group">
            <span class="badge badge-danger">必須</span><%= f.label :phone_number%>
            <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number", class: "form-control" %>
          </div>

          <div class="form-group">
            <span class="badge badge-danger">必須</span><%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> 文字以上)</em>
            <% end %>
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
          </div>

          <div class="form-group">
            <span class="badge badge-danger">必須</span><%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
          </div>

          <div class="actions">
            <p><%= f.submit "申請する", class: "btn btn-info col-sm-12" %></p>
          </div>

          <h5>既に登録済みの法人様</h5>
          <p><%= render "corporate/shared/links" %>からログインしてください</p>

      <% end %>
    </div>
  </div>
</div>