<span class="article-info"><%= article.genre.genre_name %></span>
<span class="article-info" style="float: right;"><%= article.created_at.strftime('%Y/%m/%d') %></span>

<%= attachment_image_tag article, :image, class: "img-fluid aticle-image-top", fallback: "article.jpg" %>

<span class="favorite-count"><i class="fab fa-gratipay" style="color: #9b9b9b;"><%= article.favorites.count %></i></span>

<div class="article-title">
  <h1 class="card-title text-center"><strong><%= article.title %></strong></h1>
  <p class="article-info text-center"><strong><%= article.company.company_name %></strong></p>
</div>