<div class="container">
  <div class="row">
    <div class="col-md-3 col-lg-3">
      <%= render 'corporate/shared/search_article', search: @search %>
      <h4 style="margin-top: 20px;">記事登録 <i class="fas fa-pencil-alt"></i></h4>
      <div class="new-btn-wrap">
        <%= link_to "記事を登録する", new_corporate_article_path, class: "btn btn-primary col-md-12" %>
      </div>
    </div>

    <div class="col-md-9 col-lg-9">
      <h4>記事一覧</h4>  
      <% if @q_articles %>
        <% if @q_articles.empty? %>
          <%# 検索該当なしの場合 %>
          <p class="alert alert-info" role="alert">条件に合致する記事が見つかりませんでした</p>
        <% else %>
          <%# 検索該当ありの場合 %>
          <p><%="全#{@q_articles.total_count}件中" + "(#{@q_articles.count}件表示)" %></p>
          <%= render 'article_list', articles: @q_articles %>
          <div class="pagination-col offset-sm-3 col-sm-6 offset-md-4 col-md-4 offset-lg-4 col-lg-4">
            <p class="text-center" >
              <%= paginate @q_articles %>
            </p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>