<div class="container">
  <div class="row">
    <div class="offset-sm-1 col-sm-10 offset-sm-1">
      <div class="title">
        <h4 class="text-center">記事詳細</h4>
        <%= link_to '編集する', edit_corporate_article_path(@article), class:"btn btn-info btn-sm" %>
        <%= link_to '記事一覧へ戻る', corporate_articles_path, class:"btn btn-outline-info btn-sm" %>
        <strong class="admin-comment">(こちらは実際のページのイメージです。)</strong>
        <p><span class="badge badge-danger">個人会員掲載ページ</span></p>
      </div>
      <hr class="titleHr">

      <div class="genre-status">
        <p>【現在の掲載状況：　<%= @article.is_active == true ? "掲載中" : "掲載停止中" %>】</p>
        <strong class="admin-comment">※上記の掲載状況は法人会員画面のみの表示です。変更する場合は記事情報編集ページからお手続きください。</strong>
      </div>

      <%= render 'corporate/articles/article_detail', article: @article, article_url: @article_url %>

      <div class="article-body">
        <p><%= @article.body.html_safe %></p>
      </div>

      <P class="text-right">
        <strong class="admin-comment">企業様のプロフィールページへのリンクです。</strong>
      </P>
      <p class="text-right">
        <%= link_to "この記事の話をもっと聞きたい！", corporate_company_path(@article.id), class: "btn hear-more" %>
      </p>
    </div>
  </div>
</div>