<div class="row">
  <div class="offset-sm-2 col-sm-8 offset-sm-2">
    <h3>登録情報編集</h3>

    <%= form_for(@user, url: admin_user_path) do |f| %>
      <div class="form-group">
        <%= f.label :プロフィール画像  %><br>
        <%= f.attachment_field :profile_image %>
      </div>

      <div class="form-group">
        <%= f.label :会員ステータス %><br>
        <%= f.radio_button :is_active, true %>
        <%= f.label :is_active, "有効", {value: :is_active, style: "display: inline-block;"} %>
        <%= f.radio_button :is_active, false %>
        <%= f.label :is_active, "退会済み", {value: :is_active, style: "display: inline-block;"} %>
      </div>

      <div class="form-group row">
        <div class="col-sm-6">
          <%= f.label :名前 %>
          <%= f.label :"(姓)"%><%= f.text_field :last_name, autofocus: true, class: "form-control" %>
        </div>
        <div class="col-sm-6">
          <%= f.label :"(名)" %><%= f.text_field :first_name, autofocus: true, class: "form-control" %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-6">
          <%= f.label :フリガナ %>
          <%= f.label :"(セイ)"%><%= f.text_field :kana_last_name, autofocus: true, class: "form-control" %>
        </div>
        <div class="col-sm-6">
          <%= f.label :"(メイ)" %><%= f.text_field :kana_first_name, autofocus: true, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :メールアドレス  %>
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :郵便番号（ハイフンなし） %>
        <%= f.text_field :postal_code, autofocus: true, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :住所 %>
        <%= f.text_field :address, autofocus: true, class: "form-control", collection: JpPrefecture::Prefecture.all, :value_method => :name %>
      </div>

      <div class="form-group">
        <%= f.label :電話番号（ハイフンなし）%>
        <%= f.text_field :phone_number, autofocus: true, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :自己紹介文%>
        <%= f.text_area :introduction, placeholder: "例)最近は美容グッズや健康食品にハマっています！何かおすすめの物があれば教えてください！", autofocus: true, class: "form-control" %>
      </div>

      <div class="actions">
        <p>
          <%= f.submit '変更を保存する', class: "btn btn-info" %>
          <%= link_to '会員情報詳細へ戻る', admin_user_path(@user), class:"btn btn-outline-info" %>
        </p>
      </div>
    <% end %>
  </div>
</div>




