<h2>会員の方はこちらからログイン</h2>
<% if flash[:danger] %>
  <p class="text-red"><%= flash[:danger] %></p>
<% end %>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :メールアドレス, class: "col-xs-3" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :パスワード, class: "col-xs-3" %>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>

<h4>登録がお済みでない方</h4>
<p><%= render "public/shared/links" %>から新規登録を行ってください</p>
