<%= search_form_for [:admin, search] do |f| %>
  <div class="company_search_form">
    <h4>企業検索</h4>
    <h5><%= link_to "全企業を表示", admin_companies_path %></h5>
      <div class="form-group row">
        <div class="col-md-12">
          <%= f.label :company_name_cont, :企業名で検索 %><br>
          <%= f.search_field :company_name_cont, placeholder: "例)三菱USJ銀行", autofocus: true, class: "form-control" %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-12">
          <%= f.label :email_cont, :メールアドレスで検索 %><br>
          <%= f.search_field :email_cont, placeholder: "例)mitsubishi@email.com", autofocus: true, class: "form-control" %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-md-12">
          <%= f.label :is_active_eq, :企業ステータスで検索 %><br>
          <%= f.select :is_active_eq, [["有効", true], ["退会済み", false]], include_blank: "--選択してください--", autofocus: true, class: "form-control" %>
        </div>
      </div>
      <div class="item_search_btns">
        <%= f.submit "検索", class:"btn btn-info col-md-12" %>
      </div>
  </div>
<% end %>