
<div class="row">
  <div class="col-xs-4">
    <h4>ジャンル一覧</h4>
    <h4>人気記事ランキング</h4>
    <h4>詳細検索</h4>
  </div>

  <div class="col-xs-8">
    <div class="title">
      <h4 class="text-center">フォロー企業一覧</h4>
    </div>
    <hr class="titleHr">

    <% @follows.each do |follow| %>
      <div class="row">
        <div class="col-xs-3">
          <%= attachment_image_tag follow, :profile_image, size: '130x130', fallback: "no_image.png" %>
        </div>
        <div class="col-xs-9">
          <h4><%= link_to follow.company_name, company_path(follow.id) %></h4>
          <p><%= truncate(follow.introduction, length: 150) %></p>
          <% if current_user != follow %>
            <% if follow.followed_by?(current_user) %>
              <p><%= link_to "フォロー済み", user_relationships_path(follow.id), method: :delete %></p>
            <% else %>
              <p><%= link_to "フォローする", user_relationships_path(follow.id), method: :post %></p>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>

    <div class="row text-center">
      <%= paginate @follows %>
    </div>
  </div>
</div>