<div class="row-xs-12">
  <h3 class="col-xs-8">会員登録情報</h3>
</div>

<div class="row">
  <div class="col-xs-8">
    <table class='table'>
      <tr>
        <th>氏名</th>
        <td><%= @user.full_name %></td>
      </tr>
      <tr>
        <th>フリガナ</th>
        <td><%= @user.kana_full_name %></td>
      </tr>
      <tr>
        <th>郵便番号</th>
        <td><%= @user.postal_code %></td>
      </tr>
      <tr>
        <th>住所</th>
        <td><%= @user.address %></td>
      </tr>
      <tr>
        <th>電話番号</th>
        <td><%= @user.phone_number %></td>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <td><%= @user.email %></td>
      </tr>
    </table>
    <%= link_to '編集する', mypage_edit_path(@user), class:"data-disable-with", class:"btn btn-default col-xs-6" %>
    <%= link_to 'パスワードを変更する', edit_user_registration_path(@user), class:"data-disable-with", class:"btn btn-default col-xs-6" %>
  </div>
  <div class="col-xs-4">
    <%= attachment_image_tag @user, :profile_image, size: '200x200', fallback: "no_image.png" %>
    <p>円グラフみたいなものを入れてもいいかも</p>
    <p>円グラフみたいなものを入れてもいいかも</p>
    <p>円グラフみたいなものを入れてもいいかも</p>
    <p>円グラフみたいなものを入れてもいいかも</p>
    <p>円グラフみたいなものを入れてもいいかも</p>
    <p>円グラフみたいなものを入れてもいいかも</p>
    <p>円グラフみたいなものを入れてもいいかも</p>
    <p>円グラフみたいなものを入れてもいいかも</p>
    <p>円グラフみたいなものを入れてもいいかも</p>
  </div>
</div>