<header>
  <div class="container">
    <nav class="nav navbar-nav navbar-left">
      <%= link_to 'Hareyaka', root_path, class: "logo" %>
    </nav>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to 'Hareyakaについて', about_vision_path %></li>
      <li><%= link_to '記事一覧', articles_path %></li>
      <li><%= link_to '新規登録', new_user_registration_path %></li>
      <li><%= link_to 'ログイン', new_user_session_path %></li>
      <%# <li>法人の方はこちら</li> %>
      <li><%= link_to '(法人)新規登録', new_company_registration_path %></li>
      <li><%= link_to '(法人)ログイン', new_company_session_path %></li>
    </ul>
  </div>
</header>