<header>
  <div class="header-content">
    <%= link_to 'Hareyaka', root_path, class: "logo" %>
    <ul class="flex">
      <li><%= link_to 'Hareyakaについて', about_path %></li>
      <li><%= link_to '記事一覧', articles_path %></li>
      <li><%= link_to '新規登録', new_user_registration_path %></li>
      <li><%= link_to 'ログイン', new_user_session_path %></li>
      <p>法人の方はこちら</p>
      <li><%= link_to '(法人)新規登録', new_company_registration_path %></li>
      <li><%= link_to '(法人)ログイン', new_company_session_path %></li>
    </ul>
  </div>
</header>