<header>
  <div class="container">
    <nav class="nav navbar-nav navbar-left">
      <%= link_to 'Hareyaka', root_path, class: "logo" %>
    </nav>
    <ul class="nav navbar-nav navbar-right">
      <%# 管理者ログインの場合 %>
      <% if admin_signed_in? %>
        <li>管理者ログイン中です</li>
        <li><%= link_to '会員一覧', admin_users_path %></li>
        <li><%= link_to '記事一覧', admin_articles_path %></li>
        <li><%= link_to 'ジャンル一覧', admin_genres_path %></li>
        <li><%= link_to '企業一覧', admin_companies_path %></li>
        <li><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %></li>
      <%# 法人ログインの場合 %>
      <% elsif company_signed_in? %>
        <li>ようこそ、<%= current_company.company_name %>　様</li>
        <li><%= link_to 'マイページ', corporate_company_path(current_company) %></li>
        <li><%= link_to '記事一覧', corporate_articles_path %></li>
        <li><%= link_to "フォロワー会員一覧", followers_corporate_company_path(current_company.id) %></li>
        <li><%= link_to 'ログアウト', destroy_company_session_path, method: :delete %></li>
      <%# 個人会員ログインの場合 %>
      <% elsif user_signed_in? %>
        <li>ようこそ、<%= current_user.full_name %> さん!</li>
        <li><%= link_to 'マイページ', user_path(current_user) %></li>
        <li><%= link_to '記事一覧', articles_path %></li>
        <li><%= link_to 'お気に入り一覧', favorites_path %></li>
        <li><%= link_to "フォロー企業一覧", follows_user_path(current_user.id) %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
      <%# ログインしていない場合 %>
      <% else %>
        <li><%= link_to 'Hareyakaについて', about_vision_path %></li>
        <li><%= link_to '記事一覧', articles_path %></li>
        <li><%= link_to '新規登録', new_user_registration_path %></li>
        <li><%= link_to 'ログイン', new_user_session_path %></li>
        <li><%= link_to '(法人)新規登録', new_company_registration_path %></li>
        <li><%= link_to '(法人)ログイン', new_company_session_path %></li>
      <% end %>
    </ul>
  </div>
</header>