<header>
  <nav class="navbar navbar-expand-lg navbar-light fixed-top header-nav">
    <%= link_to 'Hareyaka', vision_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button"
        data-toggle="collapse"
        data-target="#navmenu1"
        aria-controls="navmenu1"
        aria-expanded="false"
        aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <%# 管理者ログインの場合 %>
    <% if admin_signed_in? %>
      <div class="collapse navbar-collapse" id="navmenu1">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item login-person">管理者ログイン中です</li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><i class="fas fa-users"></i><%= link_to '会員一覧', admin_users_path %></li>
          <li class="nav-item"><i class="far fa-newspaper"></i><%= link_to '記事一覧', admin_articles_path %></li>
          <li class="nav-item"><i class="fas fa-swatchbook"></i><%= link_to 'ジャンル一覧', admin_genres_path %></li>
          <li class="nav-item"><i class="far fa-building"></i><%= link_to '企業一覧', admin_companies_path %></li>
          <li class="nav-item"><i class="fas fa-sign-out-alt"></i><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %></li>
        </ul>
      </div>

    <%# 法人ログインの場合 %>
    <% elsif company_signed_in? %>
      <div class="collapse navbar-collapse" id="navmenu1">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item login-person">ようこそ、<%= current_company.company_name %>　様</li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><i class="far fa-building"></i><%= link_to 'マイページ', corporate_company_path(current_company) %></li>
          <li class="nav-item"><i class="far fa-newspaper"></i><%= link_to '記事一覧', corporate_articles_path %></li>
          <li class="nav-item"><i class="fas fa-user-friends"></i><%= link_to "フォロワー会員", followers_corporate_company_path(current_company.id) %></li>
          <li class="nav-item">
            <% if company_unchecked_notifications.any? %>
              <i id="company-badge"><%= company_unchecked_notifications.count %></i>
            <% else %>
              <i class="fas fa-bell"></i>
            <% end %>
            <%= link_to "DM通知", corporate_notifications_path %>
          </li>
          <li class="nav-item"><i class="fas fa-sign-out-alt"></i><%= link_to 'ログアウト', destroy_company_session_path, method: :delete %></li>
        </ul>
      </div>

    <%# 個人会員ログインの場合 %>
    <% elsif user_signed_in? %>
      <div class="collapse navbar-collapse" id="navmenu1">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item login-person">ようこそ、<%= current_user.full_name %> さん!</li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><i class="fas fa-user-circle"></i><%= link_to 'マイページ', user_path(current_user) %></li>
          <li class="nav-item"><i class="far fa-newspaper"></i><%= link_to '記事一覧', articles_path %></li>
          <li class="nav-item"><i class="fas fa-user-tie"></i><%= link_to '専門家', companies_path %></li>
          <li class="nav-item">
            <% if user_unchecked_notifications.any? %>
              <i id="user-badge"><%= user_unchecked_notifications.count %></i>
            <% else %>
              <i class="fas fa-bell"></i>
            <% end %>
            <%= link_to "DM通知", notifications_path %>
          </li>
          <li class="nav-item"><i class="fas fa-sign-out-alt"></i><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
        </ul>
      </ul>
      </div>

    <%# ログインしていない場合 %>
    <% else %>
      <div class="collapse navbar-collapse" id="navmenu1">
        <% if  controller.action_name != 'top' %>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item"><i class="far fa-newspaper"></i><%= link_to '記事一覧', articles_path %></li>
            <li class="nav-item"><i class="fas fa-user-plus"></i><%= link_to '新規登録', new_user_registration_path %></li>
            <li class="nav-item"><i class="fas fa-sign-in-alt"></i><%= link_to 'ログイン', new_user_session_path %></li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"><i class="fas fa-building"></i><%= link_to '(法人)新規登録', new_company_registration_path %></li>
            <li class="nav-item"><i class="far fa-building"></i><%= link_to '(法人)ログイン', new_company_session_path %></li>
          </ul>
        <% end %>
      </div>

    <% end %>
  </nav>
</header>